/*example 01*/ 
$color: black;
.test1 {
    background-color: $color;
} 

/*example 02*/ 
$left: left;
.test2 {
    border-#{$left}:1px  #000 solid;
}

/*example 03*/
$para:4;
.test3 {
    height: 5px+3px;
    width: (14px/7);
    right: $para*4;
}

/*example 04*/
.test4 {
    .lala {
        color: pink;
    }
}

/*example 05*/
.class1 {
    border-left: 1px #000 solid;
}
.class2 {
    @extend .class1;
    font-size: 15px;
}

/*example 06*/
@mixin test6 {
    height: 5px;
    left: 20px;
    top: 10px;
}
.lili {
    @include test6;
}

@mixin test62($height) {
    height: $height;
    left: 20px;
    top: 10px;
}
.lili2 {
    @include test62(100px);
}

/*example 07*/
@function aa($color) {
    @return $color;
}
.test7 {
    color: aa(pink);
}

/*example 08*/
@import 'more.scss'